<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>{{'sys_parm'|translate}}</h1>
</section>

<!-- Main content -->
<section class="content" ng-init="init()">
	<!-- Your Page Content Here -->
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-body">
					<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
						close="alert.close($index)">
					<div translate="{{alert.msg}}"></div>
					</uib-alert>
					<div class="row">
						<div class="col-md-2 required">
							<label class="control-label">{{'mall'|translate}}</label>
						</div>
						<div class="col-md-3">
							<select class="form-control" ng-model="searchmodel.mallId"  required="required" ng-change="changeSegment();"
								ng-options="item.id as item.name for item in mallVoList">
								<option></option>
							</select>
						</div>
						<div class="col-md-2 required">
							<label class="control-label">{{'parm_segment'|translate}}</label>
						</div>
						<div class="col-md-3">
							<select class="form-control" ng-model="searchmodel.segment"  required="required"
								ng-options="item.segment as item.segment for item in segmentList">
								<option></option>
							</select>
						</div>
						<div class="col-md-2">
							<button type="button" class="btn btn-primary" ng-if="powers.search"
								ng-click="search(true)">{{'sys_button_search'|translate}}</button>
							<button type="button" class="btn btn-primary"
								ng-click="resert()">{{'sys_button_reset'| translate}}</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-3" style="color:red;" >
							<p ng-if="searchmodel.mallId == null && isCheck">
								{{'mall'|translate}}{{'is_required'|translate}}
							</p>
						</div>
						<div class="col-md-2"></div>
						<div class="col-md-3" style="color:red;" >
							<p ng-if="searchmodel.segment == null && isCheck">
								{{'parm_segment'|translate}}{{'is_required'|translate}}
							</p>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-md-12">
							<button type="button" class="btn btn-primary"  ng-if="powers.create"
							 ng-click="create()"> {{'sys_button_add'|translate}}</button>
							<button type="button" class="btn btn-primary" ng-if="powers.update" 
							ng-click="edit()">{{'sys_button_edit'|translate}}</button>
							<button type="button" class="btn btn-primary" ng-if="powers.delete"
								ng-click="deletes()">{{'sys_button_delete'|translate}}</button>
							<button type="button" class="btn btn-primary"	ng-if="powers.audit"
							 	ng-click="auditTrail()">{{'sys_button_audit'|translate}}</button>
							 <button type="button" class="btn btn-primary" ng-if="powers.view"
							 	ng-click="view()">{{'sys_button_view'|translate}}</button>
						</div>
					</div>
					<br/>
					<div class="table-responsive">
						<table st-table="tableData"
							class="table table-bordered table-hover smart-table">
							<thead>
								<tr>
									<th row-select-all="tableData" selected="selected"
										ng-click="selectAll(tableData)"></th>
									<th>{{'parm_segment'|translate}}</th>
									<th>{{'parm_code'|translate}}</th>
									<th>{{'parm_short_desc'|translate}}</th>
									<th>{{'parm_long_desc'|translate}}</th>
									<th>{{'parm_value'|translate}}</th>
									<th>{{'parm_seq'|translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="row in tableData" id="tr{{row.id}}" ng-dblclick="select1(row)" ng-click="select(row)">
									<td row-select="row"></td>
									<td>{{row.segment}}</td>
									<td>{{row.code}}</td>
									<td>{{row.shortDesc}}</td>
									<td>{{row.longDesc}}</td>
									<td>{{row.value}}</td>
									<td>{{row.dispSeq}}</td>
								</tr>							
							</tbody>
							<tfoot>
								<tr>
									<td colspan="8" class="text-center">
										<sys-pagination/>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="confirmModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
 	<div class="modal-dialog modal-sm" role="document">
  		<div class="modal-content">
   			<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
     			<span aria-hidden="true">&times;</span>
    			</button>
    			<h4 class="modal-title" id="myModalLabel">{{'sys_label_hint'|translate}}</h4>
  			</div>
   			<div class="modal-body">{{'sys_msg_confirm'|translate}}</div>
	   		<div class="modal-footer">
	          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deletes(true)">{{'sys_button_ok'|translate}}</button>
	          <button type="button" class="btn btn-default" data-dismiss="modal">{{'sys_button_cancel'|translate}}</button>
	   		</div>
  		</div>
 	</div>
</div>
<!-- /.content -->