<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.b2bp.daos.order.OrderAuditModelMapper" >
  <resultMap id="BaseResultMap" type="com.mall.b2bp.models.order.OrderAuditModel" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ORDER_ID" property="orderId" jdbcType="DECIMAL" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="ACTION" property="action" jdbcType="VARCHAR" />
    <result column="ACTION_TIME" property="actionTime" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_DATE" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="VARCHAR" />
    <result column="LAST_UPDATED_DATE" property="lastUpdatedDate" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORDER_ID, USER_ID, ACTION, ACTION_TIME, CREATED_BY, CREATED_DATE, LAST_UPDATED_BY, 
    LAST_UPDATED_DATE, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from PSSP_ORDER_AUDIT
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from PSSP_ORDER_AUDIT
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.mall.b2bp.models.order.OrderAuditModel" >
    insert into PSSP_ORDER_AUDIT (ID, ORDER_ID, USER_ID, 
      ACTION, ACTION_TIME, CREATED_BY, 
      CREATED_DATE, LAST_UPDATED_BY, LAST_UPDATED_DATE, 
      STATUS)
    values (#{id,jdbcType=DECIMAL}, #{orderId,jdbcType=DECIMAL}, #{userId,jdbcType=VARCHAR}, 
      #{action,jdbcType=VARCHAR}, #{actionTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.b2bp.models.order.OrderAuditModel" >
    insert into PSSP_ORDER_AUDIT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="action != null" >
        ACTION,
      </if>
      <if test="actionTime != null" >
        ACTION_TIME,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdDate != null" >
        CREATED_DATE,
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY,
      </if>
      <if test="lastUpdatedDate != null" >
        LAST_UPDATED_DATE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="action != null" >
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="actionTime != null" >
        #{actionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null" >
        #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.b2bp.models.order.OrderAuditModel" >
    update PSSP_ORDER_AUDIT
    <set >
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="action != null" >
        ACTION = #{action,jdbcType=VARCHAR},
      </if>
      <if test="actionTime != null" >
        ACTION_TIME = #{actionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null" >
        LAST_UPDATED_DATE = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.b2bp.models.order.OrderAuditModel" >
    update PSSP_ORDER_AUDIT
    set ORDER_ID = #{orderId,jdbcType=DECIMAL},
      USER_ID = #{userId,jdbcType=VARCHAR},
      ACTION = #{action,jdbcType=VARCHAR},
      ACTION_TIME = #{actionTime,jdbcType=TIMESTAMP},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=VARCHAR},
      LAST_UPDATED_DATE = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
   <select id="viewHistory" resultMap="BaseResultMap"
            parameterType="com.mall.b2bp.vos.order.OrderAuditVo">


        select  pa.*
        from PSSP_ORDER_AUDIT PA,

        (select *
        from (select p1.*
        from PSSP_ORDER p1
        where p1.HYBRIS_ORDER_ID = #{orderId}

        union all

        select p2.*
        from PSSP_ORDER p2
        where p2.HYBRIS_ORDER_ID =
        (select HYBRIS_ORDER_ID from PSSP_ORDER where HYBRIS_ORDER_ID = #{orderId})
          and p2.HYBRIS_ORDER_ID != #{orderId}
        )) PR

        WHERE PA.ORDER_ID = PR.ID


        <if test="action != null and action != ''" >
            AND UPPER(PA.action)  like '%'||UPPER(#{action})||'%'
        </if>


        <if test="userId != null and userId!=''">
            AND UPPER(PA.USER_ID)  like '%'||UPPER(#{userId})||'%'
        </if>


        <if test="actionTimeFrom !=null">
            AND to_char(pa.ACTION_TIME,'yyyyMMdd') >= to_char(#{actionTimeFrom,jdbcType=DATE},'yyyyMMdd')
        </if>


        <if test="actionTimeTo !=null">
            AND  to_char(#{actionTimeTo,jdbcType=DATE},'yyyyMMdd')  >=to_char(pa.ACTION_TIME,'yyyyMMdd')
        </if>

        order by PA.CREATED_DATE DESC

    </select>
    <delete id="deleteByOrderId" parameterType="String">
	    delete from PSSP_ORDER_AUDIT
	    where ORDER_ID = #{orderId,jdbcType=DECIMAL}
  </delete>
    
</mapper>