<!-- Content Header (Page header) -->

<!-- Main content -->
<section class="content">

	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-body">

					<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
						close="closeAlert($index)">
					<div translate="{{alert.msg}}"></div>
					</uib-alert>

					<div
						cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
					</div>
					<div class="row">
						<div class="box1">
							<label>{{'order_id' | translate}}:</label>
						</div>

						<div class="box2">
							<div>{{orderData.hybrisOrderId}}</div>
						</div>
					</div>

					<div class="row">
						<div class="box1">
							<label> {{'order_create_date' | translate}}:</label>
						</div>

						<div class="box2">{{orderData.orderDatetimeStr}}</div>

					</div>

					<div class="row">
						<div class="box1">
							<label> {{'order_customerName' | translate}}:</label>
						</div>
						<div class="box2">{{orderData.customerName}}</div>
					</div>

					<div class="row">
						<div class="box1">
							<label> Phone No:</label>

						</div>
						<div class="box2">{{orderData.customerPhoneNo}}</div>
					</div>

					<div class="row">
						<div class="box1">
							<label>Mobile No:</label>

						</div>
						<div class="box2">{{orderData.customerMobileNo}}</div>

					</div>

					<div class="row">
						<div class="box1">
							<label> {{'order_RecipientName' | translate}}:</label>

						</div>
						<div class="box2">{{orderData.receiverName}}</div>

					</div>

					<div class="row">
						<div class="box1">
							<label> Contact No:</label>

						</div>
						<div class="box2">{{orderData.receiverPhoneNo}}</div>

					</div>

					<div class="row">
						<div class="box1">
							<label ng-if="orderData.replaceOrderInd=='Y'">
								{{'orig_order_id' | translate}}:</label>

						</div>
						<div class="box2" ng-if="orderData.replaceOrderInd=='Y'">
							<label ng-click="linkOrigOrder(orderData.origOrderId)"><u>
									{{orderData.origHybrisOrderId}} </u> </label>
						</div>
					</div>

					<div class="row">
						<div class="box1">
							<label> Address:</label>

						</div>
						<div class="box2">{{orderData.deliveryAddress}}</div>
					</div>

					<div class="row">
						<div class="box1">
							<label> {{'order_status' | translate}}:</label>

						</div>
						<div class="box2" ng-if="orderData.status=='NEW'">{{orderData.entryStatus}}</div>
						<div class="box2" ng-if="orderData.status!='NEW'">{{orderData.status}}</div>
					</div>


				<!-- 	<div class="row">
						<div class="box1">
							<label>{{'order_deliveredFee' | translate}}:</label>

						</div>
						<div class="box2">{{orderData.deliveryFee}}</div>
					</div> -->
					
					

					<div class="row">

						<div class="box1">
							<label> {{'order_pickDate' | translate}} </label>
						</div>

						<div class="box2">
							<span ng-if=" pickedStatus && visible && sheldonvisible">
								<p class="input-group">
									<input type="text" class="form-control"
										uib-datepicker-popup="{{format}}"
										ng-model="orderData.pickDate" is-open="popup1.opened"
										datepicker-options="dateOptions" ng-required="true"
										close-text="Close" alt-input-formats="altInputFormats"
										placeholder="MM/dd/yyyy" maxlength="20" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="open1()">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</p>
								<div style="color: #ff0000" id="error_pickDate"></div>
							</span> <span ng-if="!pickedStatus">{{orderData.pickDateStr}}</span>

						</div>
					</div>
					
					<div class="row">
						<div class="box1">
							<label> {{'order_shipped_date' | translate}}:</label>

						</div>
						<div class="box2">

							<div ng-if="shippedStatus && visible && sheldonvisible">
								<p class="input-group">
									<input type="text" class="form-control"
										uib-datepicker-popup="{{format}}"
										ng-model="orderData.consignmentShippedDate"
										is-open="popup1.opened" datepicker-options="dateOptions"
										ng-required="true" close-text="Close"
										alt-input-formats="altInputFormats" placeholder="MM/dd/yyyy"
										id="crfm" maxlength="20" /> <span class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="open1()">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</p>
								<div style="color: red" id="error_shippedDate"></div>
							</div>

							<div ng-if="!shippedStatus">
								{{orderData.consignmentShippedDateStr}}</div>

						</div>

					</div>
					

					<div class="row">
						<div class="box1">
							<label> {{'order_deliveredDate' | translate}}:</label>
						</div>
						<div class="box2">

							<div ng-if="waitFordeliveryStatus && visible && sheldonvisible">
								<p class="input-group">
									<input type="text" class="form-control"
										uib-datepicker-popup="{{format}}"
										ng-model="orderData.deliveryDate" is-open="popup1.opened"
										datepicker-options="dateOptions" ng-required="true"
										close-text="Close" alt-input-formats="altInputFormats"
										placeholder="MM/dd/yyyy" maxlength="20" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="open1()">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</p>
								<div style="color: #ff0000" id="error_deliveredDate"></div>
							</div>

							<div ng-if="!waitFordeliveryStatus">
								{{orderData.deliveryDateStr}}</div>

						</div>
					</div>

					<!-- <div class="row">
						<div class="box1">
							<label ng-if="waitFordeliveryStatus || deliveredStatus">{{'delivery_success'
								| translate}}</label>
						</div>
						<div class="box2">
							<span ng-if="waitFordeliveryStatus && visible"> <select
								id="orderStatus_id" class="form-control"
								ng-model="orderData.deliverySuccess"
								ng-options="op.name as op.label for op in deliverySuccessList">
							</select> <span style="color: #ff0000" id="error_deliverySuccess"></span>
							</span> <span ng-if="!waitFordeliveryStatus">
								<div ng-if="orderData.deliverySuccess == 'Y'">Full
									delivered</div> <span ng-if="orderData.deliverySuccess == 'N'">Undelivered
							</span>
							</span>
						</div>
					</div> -->



					<div class="row">
						<div class="box1">
							<label>{{'order_trackId'| translate}}</label>
						</div>
						<div class="box2">
							<div ng-if="(shippedStatus || pickedStatus) && visible">
								<input type="text" class="form-control "
									ng-model="orderData.trackId" maxlength="20">
							</div>

							<div ng-if="!shippedStatus && !pickedStatus">
								{{orderData.trackId}}</div>

						</div>
					</div>

					<div class="table-responsive">
						<br />
						
						<table wt-responsive-table st-table="rowCollection"
							class="table table-bordered table-hover smart-table">
							<thead>
								
								 <tr>
	                                <th st-ratio="8">{{'sku' | translate}}</th>
	                                <th st-ratio="13"> {{'supplier_id' | translate}}</th>
	                                
	                                <th st-ratio="13"  ng-hide="true">{{'brand_name' | translate}}</th>
                                	<th st-ratio="8"> Product Image</th>
	                                <th st-ratio="12">{{'product_description' | translate}}</th>
	                                <th st-ratio="8">{{'ordered_quantity' | translate}}</th>
	                                <th st-ratio="8">{{'picked_quantity' | translate}}</th>
	                                <th st-ratio="3"></th>
	                                <!-- <th st-ratio="8">{{'delivered_quantity' | translate}} </th> -->
	                                <th st-ratio="5">{{'size_desc' | translate}}</th>
	                                <th st-ratio="5">{{'net_price' | translate}}</th>
	                                <th st-ratio="5">{{'total_returned_quantity' | translate}}</th>
	                                <th st-ratio="5"></th>
	                            </tr>
	                            
							</thead>
							<tbody>
								    <tr ng-repeat="row in rowCollection" >
                                <td>{{row.skuId}}</td>
                                <td>{{row.brand}}</td>
                               
                                <td  ng-hide="true">{{row.brand}}</td>
                                
                               	<td>		
                                  <img 	style="width:50" 
			                                 ng-hide = "row.productImageDefault == null || row.productImageDefault == ''"  
			                                 ng-src="{{row.productImageDefault}}"  />
			                                <!-- ng-src="./orderImageShow?fileName={{row.productImageDefault}}"  --> 
								</td>
								
                                <td>{{row.productName}}</td>
                                <td align="right"> <div align='right'>{{row.qty}} </div> </td>
                                <td>
                                
                                
                                    <div ng-if="pickedStatus && visible">
                                        <input type="number" class="form-control " ng-model="row.pickedQty"  maxlength="10"  ng-blur="blur_checkPqty(row)"  style="text-align:right" >
										 <div style="color:red" id="error_{{row.id}}"></div>
                                    </div>

                                    <div ng-if="!pickedStatus"  align="right">
                                        {{row.pickedQty}} 
                                    </div>
                                </td>
                                
								<td>
								
								<button type="button" class="btn btn-default" ng-click="openSerial(row,'pqty')" >
									<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
								</button>
								</td>
								
                            

                                <td>{{row.sizeDesc}}</td>
                                <td align="right"> <div align='right'>{{row.unitPrice | number:2 }} </div></td>
                               <td align="right"> 
	              					<div ng-if="status== 'DELIVERY'  ">
	                            		<input type="number" class="form-control " ng-model="row.returnTotal"  maxlength="10"   ng-blur="blur_returnqty(row)" >
										 <div style="color:red" id="errorReturn_{{row.id}}"></div>
									 </div>
                                </td>
                                
                                <td>
                                
                                 <div ng-if="status== 'DELIVERY'  ">
                                	<button type="button" class="btn btn-default" ng-click="openSerial(row,'delivery')" >
										<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
									</button>
								 </div>
                            </tr>
                          
								
								
								
							</tbody>

						</table>

					</div>


					<div class="row">
						<div class="col-md-12 text-right">


							<button type="button" ng-if="invoiceReadyInd && visible"
								class="btn btn-primary"
								ng-click="singlePrintPdf(orderData.invoiceFilename)">{{'print_invoice_delivery_note'
								| translate}}</button>


							<button type="button" ng-if="pickedStatus && visible  && orderData.entryStatus!='PICKED'"
								class="btn btn-primary" ng-click="pick()">{{'button_pick'
								| translate}}</button>


							<button type="button" ng-if="waitFordeliveryStatus ||permissionExecut"
								class="btn btn-primary" ng-click="batchConfirmDelivery()">{{'button_delivery'| translate}}</button>

 							<button type="button" ng-if="deliveredStatus  " class="btn btn-primary"
                                    ng-click="returnConfirm()">Save
                            </button>
                            

							<button type="button" class="btn btn-primary" ng-click="cancel()">{{'button_cancel'|translate}}</button>

						</div>
					</div>

					



				</div>
			</div>
		</div>
	</div>
</section>
</section>



