<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{'menu_password' | translate}}

    </h1>

</section>


<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">

                    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
                        <div translate="{{alert.msg}}">
                        </div>
                    </uib-alert>

              
                     <div class="row">

                        <label class="col-md-2 control-label">{{'label_new_password'| translate}}:</label>

                        <div class="col-md-3"> <input type="password" class="form-control " ng-model="newPassword"  maxlength="30" /> </div>

                        
                    </div>
                    

              
                     <div class="row">

               <label class="col-md-2 control-label">{{'label_repeat_password'| translate}}:</label>

                        <div class="col-md-3"> <input type="password" class="form-control" ng-model="repeatPassword"  maxlength="30"  /></div>
                        
                    </div>
                    
                 
      		<div class="row">
                    	<div class="col-md-12 text-right">
                                <button type="button" class="btn btn-primary" ng-click="changePassword()">{{'button_change_password'
                                    | translate}}
                                </button>
                            
            
                    </div>


                </div>
                


                    </div>
                    

                
            </div>
        </div>
    </div>

</section>
</section>



