<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<!-- Content Header (Page header) -->
<section class="content-header">
	 
</section>

<!-- Main content -->
<section class="content">
<table border="1px">
<tr>
<th>English
</th>
<th>
Traditional Chinese
</th>
<th>
Simplified Chinese
</th>
</tr>
<tr><td>
Keep out of reach of children.
</td>
<td>
請置放於孩童不易取得之處。
</td>
<td>
请置放于孩童不易取得之处。 
</td>
</tr>
<tr><td>
Avoid contact with eyes. If contact occurs, rinse immediately with water.
</td>
<td>
避免接觸眼睛，若不慎濺入眼睛，請即用大量清水沖洗。
</td>
<td>
避免接触眼睛，若不慎溅入眼睛，请即用大量清水冲洗。
</td>
</tr>
<tr>
<td>
Do not swallow. If swallowed, drink plenty of water and contact your doctor.
</td>
<td>
切勿吞食，若不慎吞食，請即飲用大量開水，並立即送醫診治。
</td>
<td>
切勿吞食，若不慎吞食，请即饮用大量开水，并立即送医诊治。
</td>
</tr>
<tr>
<td>
If irritation occurs, stop use and consult a doctor if necessary.
</td>
<td>
用後若敏感或不適，請停止使用。如有需要請就醫診治。
</td>
<td>
用後若敏感或不適，請停止使用。如有需要請就醫診治。
</td>
</tr>
<tr>
<td>
Flammable
</td>
<td>
易燃
</td>
<td>
易燃
</td>
</tr>
<tr>
<td>
Keep away from Fire and Flame
</td>
<td>
保留從火和火焰 請遠離火種
</td>
<td>
保留从火和火焰 請遠離火種
</td>
</tr>
<tr>
<td>
Not to be used for children under 3 years of age
</td>
<td>
不適合三歲以下小童使用
</td>
<td>
不适合三岁以下小童使用
</td>
</tr>
<tr>
<td>
The product should be sprayed at least 8 inches / 20 cm from the skin
</td>
<td>
自動壓縮容器:產品必須於至少距離皮膚8英寸/ 20厘米被噴洒
</td>
<td>
自动压缩容器: 产品必须于至少距离皮
肤8英寸/ 20厘米被喷洒
</td>
</tr>
<tr>
<td>
Close properly the container after use
</td>
<td>
使用後請關適當地關閉容器
</td>
<td>
使用后请关适当地关闭容器
</td>
</tr>
<tr>
<td>
Not to be used on peeling or irritated or
damaged skin
</td>
<td>
請勿用於脫皮, 被刺激或破損皮膚上
</td>
<td>
请勿用于脱皮, 被刺激或破损皮肤上
</td>
</tr>
<tr>
<td>
Rinse well 
</td>
<td>
請用水徹底清洗
</td>
<td>
请用水彻底清洗 
</td>
</tr>
<tr>
<td>
Wash hands after use 
</td>
<td>
用後請洗手
</td>
<td>
用后请洗手 
</td>
</tr>
<tr>
<td>
Do not use to dye eyelashes or eyebrows or moustaches
</td>
<td>
請勿於眼睫毛, 眉毛及使用染色眼影及
髭上使用染料
</td>
<td>
请勿于眼睫毛, 眉毛及使用染色眼影及
髭上使用染料
</td>
</tr>
<tr>
<td>
Avoid skin contact 
</td>
<td>
避免接觸皮膚
</td>
<td>
避免接触皮肤 
</td>
</tr>
<tr>
<td>
Rinse hair well after application
</td>
<td>
用後請徹底洗淨頭髮
</td>
<td>
用后请彻底洗净头发
</td>
</tr>
<tr>
<td>
Frequent use by children is not advisable
</td>
<td>
不建議小童經常使用
</td>
<td>
不建议小童经常使用
</td>
</tr>
<tr>
<td>
Keep powder away from children's nose and mouth
</td>
<td>
將粉末遠離小童的眼及鼻
</td>
<td>
将粉末远离小童的眼及鼻 
</td>
</tr>
<tr>
<td>
Can cause allergic reaction
</td>
<td>
可引致過敏反應
</td>
<td>
可引致过敏反应
</td>
</tr>
<tr>
<td>
Store in a dry, cool place away from direct sun light.
</td>
<td>
存放於陰涼乾爽處，避免受陽光直接照射。
</td>
<td>
存放于阴凉干爽处，避免受阳光直接照射。
</td>
</tr>
</table>
</section>
<!-- /.content -->