<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		{{'view_role_list' | translate}}
	</h1>

</section>


<!-- Main content -->
<section class="content">

	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-body">


					<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
						close="closeAlert($index)">
					<div translate="{{alert.msg}}"></div>
					</uib-alert>


<div cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
                     </div>
						<div class="row">
							<div class="col-md-2">
								<label class="control-label">{{'role_code' | translate}}</label>
							</div>

							<div class="col-md-4">
								<input type="text" class="form-control "  maxlength="50">
							</div>

							<div class="col-md-2">
								<label class="control-label">{{'role_name' | translate}}</label>
							</div>
							<div class="col-md-4">
								<input type="text" class="form-control " maxlength="50">
							</div>

						</div>
						<br />
						<div class="row">

							<div class="col-md-2">
								<label class="control-label">{{'role_type' | translate}}</label>
							</div>
							<div class="col-md-4">
								<input type="text" class="form-control " maxlength="50">
							</div>
							<div class="col-md-2">
								<label class="control-label">{{'role_function_remark' | translate}}</label>
							</div>
							<div class="col-md-4">
								<input type="text" class="form-control " maxlength="50">
							</div>
							
						</div>
						<br />
						<div class="row">

							<div class="col-md-2">
								<label class="control-label">{{'active' | translate}}</label>
							</div>
							<div class="col-md-4">
								<input type="checkbox" class="form-control">
							</div>
							<div class="col-md-2">
								<label class="control-label">{{'inactive_date' | translate}}</label>
							</div>
							<div class="col-md-4">
								<input type="text" class="form-control " maxlength="50">
							</div>
							
						</div>
						<br />
						<div class="row">
							<div class="col-md-2">
								<label class="control-label">{{'role_disp_seq' | translate}}</label>
							</div>
							<div class="col-md-4">
								<input type="number" min="0" max="300" maxlength="3" class="form-control">
							</div>
							
							<div class="col-md-4"></div>
							<div class="col-md-2">
								<button type="button" class="btn btn-primary"
									ng-click="searchRole()">{{'user_search' |
									translate}}</button>
							</div>
						</div>
						<br />
						<div class="row">
							<div class="col-md-12 text-right">
								<button type="button" class="btn btn-primary"
									 ng-click="add()">
									{{'product_add'| translate}}
							    </button>
								<button type="button" class="btn btn-primary"
									 ng-click="edit()">
									{{'product_edit'| translate}}
							    </button>
								<button type="button" class="btn btn-primary"
									 ng-click="delete2()">
									{{'product_delete'| translate}}
								</button>
						    </div>
						</div>
						</br>
						<div class="table-responsive">


							<table st-table="vm.data" st-safe-src="vm.rowCollection"
								class="table table-bordered table-hover smart-table">
								<thead>
									<tr  class="table-header ">
										<th row-select-all="vm.data" selected="vm.selected"
											ng-click="vm.selectAll(vm.data)"></th>
										<th ng-hide='true'></th>
										<th st-sort="cateId">{{'role_code' | translate}}</th>
										<th st-sort="catCode">{{'role_name' | translate}}</th>
										<th st-sort="cateName">{{'role_type' | translate}}</th>
										<th st-sort="shopId">{{'role_function_remark' | translate}}</th>
										<th st-sort="seq">{{'active' | translate}}</th>
										<th st-sort="seq">{{'inactive_date' | translate}}</th>
										<th st-sort="seq">{{'role_disp_seq' | translate}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="row in vm.data"  id="tr{{row.id}}"  ng-click="vm.select(row)" >
										<td row-select="row" ></td>
										<td>{{row.roleCode}}</td>
										<td>{{row.roleName}}</td>
										<td>{{row.roleType}}</td>
										<td>{{row.remark}}</td>
										<td>{{row.active}}</td>
										<td>{{row.inactiveDate}}</td>
										<td>{{row.seq}}</td>
									</tr>
								<tfoot>
									<tr>
										<td colspan="8" class="text-center">
											<div st-items-by-page="page" st-pagination=""
												st-template="./views/pages/pagination_custom.html">
												</div>
													<div ng-show="page  < vm.rowCollection.length " style="margin-left:412px;margin-top:-53px">
                                    <input style="height:32px" id="pageInput" class="select-page" type="text"  ng-model="page" >&nbsp;{{'items_per_page' | translate}}</div>
										</td>
										</tr>
								</tfoot>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
</section>
